<app-modal-window
  [label]=label
  (clickChange)="clickChange.emit(_item)"
  (closeWindow)="closeWindow.emit()"
>
  <div class="modal-menu__main">
    <!-- Тут начинать писать какие элементы изменять/добавлять -->
    <div class="modal-menu__item">
      <label>Имя категории</label>
      <input type="text" [(ngModel)]="_item.name">
    </div>
    <div class="modal-menu__item">
      <label>Важность</label>
      <select [(ngModel)]="_item.id_options">
        <option *ngFor="let val of options" [ngValue]="val.id">{{val.name}}</option>
      </select>
    </div>
    <div class="modal-menu__item">
      <label>Имя пользователя</label>
      <select [(ngModel)]="_item.user_id">
        <option *ngFor="let val of users" [ngValue]="val.id">{{val.name}}</option>
      </select>
    </div>
    <!-- Тут конец -->
  </div>
</app-modal-window>
