<div class="nav-bar">
  <div class="component">
    <div class="nav-bar__body">
      <div class="nav-bar__logo" routerLink="/">
        DataBaseProject
      </div>
      <div class="nav-bar__links">
        <div class="nav-bar__link" routerLink="/db/1" routerLinkActive="nav-bar__link_active">First DB</div>
        <div class="nav-bar__link" routerLink="/db/2" routerLinkActive="nav-bar__link_active">Second DB</div>
        <div class="nav-bar__link" routerLink="/an/1" routerLinkActive="nav-bar__link_active">Analytical query 1</div>
        <div class="nav-bar__link" routerLink="/an/2" routerLinkActive="nav-bar__link_active">Analytical query 2</div>
      </div>
    </div>
  </div>
</div>
