@import "../../variables"

.nav-bar
  background: $header
  &__body
    display: flex
    justify-content: space-between
    align-items: center
    height: 60px
  &__logo
    font-size: 1.4em
    font-weight: 700
    cursor: pointer
    color: $main-second-color
  &__links
    display: flex
    justify-content: space-around
    align-items: center
  &__link
    cursor: pointer
    margin-left: 20px
    color: $main-color
    position: relative
    z-index: 1
    &::before
      opacity: 0
      content: ''
      bottom: 0
      left: 10px
      z-index: 1
      background: $hover-link
      display: block
      width: 70%
      height: 7px
      position: absolute
      transform: skew(-12deg)
      transition: all .2s linear
    &:hover::before
      opacity: 1
      left: -5px
    &_active
      color: $main-second-color

