.nav-bar {
  background: rgb(19, 19, 19);
}
.nav-bar__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.nav-bar__logo {
  font-size: 1.4em;
  font-weight: 700;
  cursor: pointer;
  color: #ffb266;
}
.nav-bar__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-bar__link {
  cursor: pointer;
  margin-left: 20px;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
.nav-bar__link::before {
  opacity: 0;
  content: "";
  bottom: 0;
  left: 10px;
  z-index: 1;
  background: rgba(255, 178, 102, 0.47);
  display: block;
  width: 70%;
  height: 7px;
  position: absolute;
  transform: skew(-12deg);
  transition: all 0.2s linear;
}
.nav-bar__link:hover::before {
  opacity: 1;
  left: -5px;
}
.nav-bar__link_active {
  color: #ffb266;
}

/*# sourceMappingURL=navbar.component.css.map */
