<div class="table-info">
  <div class="table-info__logo">
    {{name}}
  </div>
  <app-button
    *ngIf="isShowAdd"
    label="add_circle_outline"
    [isIcon]="true"
    (click)="clickAdd.emit()"
  ></app-button>
  <div class="table__between"
  *ngIf="isShowBetween"
  >
    <input type="text" class="table__between-input" [(ngModel)]="dateFrom">
    <input type="text" class="table__between-input" [(ngModel)]="dateTo">
    <app-button
      label="refresh"
      [isIcon]="true"
      (click)="loadBetween.emit({dateFrom: dateFrom, dateTo: dateTo})"
    ></app-button>
  </div>
</div>
<div class="table">
  <table>
    <thead>
    <ng-content select="[head]"></ng-content>
    </thead>
    <tbody>
    <ng-content select="[body]"></ng-content>
    </tbody>
  </table>
  <div class="table__about">
    Number of rows is equal to {{elements.length}}
  </div>
</div>


