<app-refresh *ngIf="isLoad"></app-refresh>

<app-table
  *ngIf="!isLoad"
  [elements]="elements"
  [isShowAdd]="false"
  [isShowBetween]="true"
  (loadBetween)="loadBetween($event)"
  name="Between"
>
  <tr head>
    <th>Время синхранизации</th>
    <th>Имя пользователя</th>
  </tr>
  <tr body *ngFor="let item of elements">
    <td>{{item.sync_date}}</td>
    <td>{{item.name}}</td>
  </tr>
</app-table>
