<app-refresh *ngIf="isLoad"></app-refresh>

<app-show-model-two
  *ngIf="isShowModel"
  [label]="modelLabel"
  [item]="changeItem"
  (clickChange)="clickChange($event)"
  (closeWindow)="closeWindow()"
></app-show-model-two>

<!--<div class="table-info">-->
<!--  <div class="table-info__logo">-->
<!--    {{'Category'}}-->
<!--  </div>-->
<!--  <app-button-->
<!--    label="add_circle_outline"-->
<!--    [isIcon]="true"-->
<!--    (click)=""-->
<!--  ></app-button>-->
<!--</div>-->


<app-table
  *ngIf="!isLoad"
  [elements]="elements"
  name="Category"
  (clickAdd)="change_elem('add')"
>
  <tr head >
    <th>Имя категории</th>
    <th>Важность</th>
    <th>Имя пользователя</th>
    <th>Actions</th>
  </tr>
  <tr body *ngFor="let item of elements">
    <td>{{item.name}}</td>
    <td>{{item.options_name}}</td>
    <td>{{item.user_name}}</td>
    <td class="table__actions">
      <app-button
        label="update"
        [isIcon]="true"
        (click)="change_elem('update', item)"
      ></app-button>
      <app-button
        label="delete"
        [isIcon]="true"
        (click)="deleteElem(item)"
      ></app-button>
    </td>
  </tr>
</app-table>


<!--<table>-->
<!--  <thead>-->

<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let item of elements">-->
<!--    <td>{{item.name}}</td>-->
<!--    <td>{{item.options_name}}</td>-->
<!--    <td>{{item.user_name}}</td>-->
<!--    <td class="table__actions">-->
<!--      <app-button-->
<!--        label="update"-->
<!--        [isIcon]="true"-->
<!--        (click)="change_elem('update', item)"-->
<!--      ></app-button>-->
<!--      <app-button-->
<!--        label="delete"-->
<!--        [isIcon]="true"-->
<!--        (click)="deleteElem(item)"-->
<!--      ></app-button>-->
<!--    </td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
<!--<div class="table__about">-->
<!--  Number of rows is equal to {{elements.length}}-->
<!--</div>-->
