<app-refresh *ngIf="isLoad"></app-refresh>

<app-show-model-one
  *ngIf="isShowModel"
  [label]="modelLabel"
  [item]="changeItem"
  (clickChange)="clickChange($event)"
  (closeWindow)="closeWindow()"
></app-show-model-one>

<app-table
  *ngIf="!isLoad"
  name="Users"
  (clickAdd)="change_elem('add')"
  [elements]="elements"
>
  <tr head >
    <th>Имя пользователя</th>
    <th>Дата регистрации</th>
    <th>Actions</th>
  </tr>
  <tr body
      *ngFor="let item of elements">
    <td>{{item.name}}</td>
    <td>{{item.register_date}}</td>
    <td class="table__actions">
      <app-button
        label="update"
        [isIcon]="true"
        (click)="change_elem('update', item)"
      ></app-button>
      <app-button
        label="delete"
        [isIcon]="true"
        (click)="deleteElem(item)"
      ></app-button>
    </td>
  </tr>
</app-table>
