<app-refresh *ngIf="isLoad"></app-refresh>

<app-table
  *ngIf="!isLoad"
  [elements]="elements"
  [isShowAdd]="false"
  name="Count words to users"
>
  <tr head>
    <th>Имя категории</th>
    <th>Количество слов</th>
  </tr>
  <tr body *ngFor="let item of elements">
    <td>{{item.name}}</td>
    <td>{{item.count}}</td>
  </tr>
</app-table>
