* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.component {
  padding: 0 100px 0 100px;
  margin: auto;
}

body {
  background: #1a1a1a;
}

/*# sourceMappingURL=styles.css.map */
