*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Roboto Condensed', sans-serif

.component
  padding: 0 100px 0 100px
  margin: auto

body
  background: #1a1a1a

@import "variables"

.table
  padding: 35px
  border-radius: 10px
  background: $background-table
  &__about
    position: relative
    bottom: -10px
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    color: $main-color
  &__actions
    display: flex
    justify-content: space-between
    align-items: center
    min-width: 100px
    max-width: 110px
  &__between
    display: inline-flex
    &-input
      outline: none
      padding: 8px 10px
      width: 120px
      border: 1px solid $main-second-color
      background: $background-table
      color: #ffffff
      margin-right: 10px
    &-input:focus
      border: 1px solid $hover-link
table
  width: 100%
  border-spacing: 0
  border-collapse: collapse
  thead
    background: $background-table
  tr
    border-top: 0.5px solid $main-second-color
  tr:first-child
    border-bottom: 1.5px solid $main-second-color
  th, td
    color: $main-color
    text-align: left
    font-weight: 400
    padding: 15px 10px

.table-info
  height: 50px
  margin-top: 30px
  display: flex
  justify-content: space-between
  align-items: center
  &__logo
    font-size: 1.3em
    text-transform: capitalize
    font-weight: 700
    color: $main-color


