<app-modal-window
  [label]=label
  (clickChange)="clickChange.emit(_item)"
  (closeWindow)="closeWindow.emit()"
>
  <div class="modal-menu__main">
    <!-- Тут начинать писать какие элементы изменять/добавлять -->
    <div class="modal-menu__item">
      <label>Имя пользователя</label>
      <input type="text" [(ngModel)]="_item.name">
    </div>
    <div class="modal-menu__item">
      <label>Дата регистрации</label>
      <input type="text" [(ngModel)]="_item.register_date">
    </div>
    <!-- Тут конец -->
  </div>
</app-modal-window>
