.modal-menu {
  z-index: 2000;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 600px;
  min-height: 200px;
  background: #252525;
  border-radius: 10px;
  border: 2px solid #a84e92;
}
.modal-menu__title {
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
  font-size: 1.2em;
}
.modal-menu__item {
  display: inline-flex;
  flex-direction: column;
}
.modal-menu__active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=modal-window.component.css.map */
