<div class="modal-menu">
  <span class="material-icons modal-menu__close"
  (click)="closeWindow.emit()"
  >close</span>
  <div class="modal-menu__title">{{label}}</div>
  <ng-content></ng-content>
  <div class="modal-menu__button">
    <app-button
      [label]=label
      (click)="clickChange.emit()"
    ></app-button>
  </div>
</div>
