@import "../../../variables"
.modal-menu
  z-index: 2000
  position: absolute
  transform: translate(-50%, -50%)
  top: 50%
  left: 50%
  width: 600px
  min-height: 200px
  background: $header
  border-radius: 10px
  &__close
    position: absolute
    right: 20px
    top: 10px
    color: $main-color
    cursor: pointer
  &__title
    color: $main-color
    text-align: center
    margin-top: 10px
    font-weight: 400
    font-size: 1.2em
  &__item
    display: inline-flex
    flex-direction: column
    label
      color: $main-color
      margin-top: 10px
      margin-bottom: 2px
    input, select
      outline: none
      padding: 10px 10px
      width: 350px
      border: 1px solid $main-second-color
      background: $background-table
      color: #ffffff
    input:focus
      border: 1px solid $hover-link
  &__main
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
  &__button
    display: flex
    align-items: center
    justify-content: center
    margin: 20px 0

